// ---===  Header Section ===---
.itt_h_head {
  min-height: 50px;
}

.itt_header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: $nav_bg_color;
}

.itt_header-opacity {
  transition: all 0.5s ease-in-out;
}

// Navigation
.itt_nav-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;

  .itt_nav-item {

    .itt_link {
      color: $nav_link_color;
      text-decoration: none;
      padding: 18px 25px;
      font-size: 14px;
      margin: 0 auto;
      width: 100%;

      &.active {
        background-color: $nav_link_bg_hover;
      }

      &:hover {
        background-color: $nav_link_bg_hover;
      }
    }

  }
}

.itt_logo img {
  height: 44px;
}

.itt_logo-wrap {
  align-items: center;
  justify-content: center;
}