// ---=== Recent Products ===---
.itt_recent-products {
  text-align: center;
}

.itt_nav-item-arrow {
  font-size: 35px;

  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.itt_pad-arrow {
  padding: 30px 8px;
}

.itt_rp-title {
  font-family: Roboto-Bold;
  font-size: 16px;
  padding: 28px 10px 14px 10px;
  text-align: center;
}

.itt_rp-title-05 {
  font-family: Roboto-Bold;
  font-size: 16px;
  //padding: 0 10px;
}

.itt_price-discount {
  text-decoration: line-through;
}

.itt_price-amount {
  font-size: 30px;
  color: $primary-color;
}

.itt_rp-categories {
  font-size: 12px;
  padding: 14px 0;
}


.itt_rp-link, .itt_social-link {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.itt_rp-price {
  width: 150px;
}

.itt_rp-img {
  //width: 100%;
  //background-color: $light_grey;
  position: relative;
  overflow: hidden;
  //display: inline-table;
}

// Buttons affiliate and shop
.itt_btns-affiliate {
  position: absolute;
  bottom: 0;
  width: 100%;

  .itt_btn-shop {
    position: absolute;
    width: 50%;
    padding: 10px 0;
    bottom: 0;
    left: -50%;
    background-color: $violet;
    text-align: center;
  }

  .itt_btn-amazon {
    position: absolute;
    width: 50%;
    padding: 10px 0;
    bottom: 0;
    right: -50%;
    background-color: $primary-color;
    text-align: center;
  }

  // For mobile devices
  .itt_btn-shop-mobile {
    left: 0 !important;
  }

  .itt_btn-amazon-mobile {
    right: 0 !important;
  }
}