// ---=== Widget zone cards ===---
.itt_rp-widget-item {
  box-shadow: 0.5px 0.866px 4px 0px rgba( 0, 0, 0,0.1 );
  margin-bottom: 10px;
  padding: 0;
  max-height: 90px;
}

.itt_rp-widget-content {
  width: 100%;
}

.itt_rp-widget-img {
  width: 90px;
  background-color: $widget_img_bg-color;
}

// ---=== Short description (Shop page card) ===---
.itt_short-desc {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 30%;
  color: $white;
  background-color: $primary-color;
  opacity: 0.9;
  font-size: 18px;
  margin: 0;
}