// Colors
$orange: #FF9600;
$green: #AECC00;
$yellow: #FECF2A;
$violet: #411867;
$white: #fff;
$light_grey: #FAFAFA;
$grey: #F4F4F4;
$dark_grey: #b9babd;
$mega_yellow: #fcff00;
$cyan: #5cb9bc;
// ----------------------


// Theme colors
$primary-color: #3c414c;
$secondary-color: $mega_yellow;

// Navigation color
$nav_bg_color: #282c33;
$nav_link_color: #fff;
$nav_link_color_hover: $orange;
$nav_link_color_hover_mobile: #fff;
$nav_link_bg_hover: #3c414c;
$search_link_color: #fff;
$search_link_color_hover: $primary-color;


// Arrow to top
$arrow_color: #fff;
$arrow_bg: $primary-color;

// Btns
$btn_default: #000;
$btn_default-bg: #fff;

$btn_primary: $white;
$btn_primary_bg: $primary-color;

// Btns:hover
$btn_hover: $primary-color;


// Link colors
$link_hover: $primary-color;


$footer_top: #3c414c;
$footer_bot: #282c33;


// Titles color
$cat-title-color: $white;

// Widget card
$widget_img_bg-color: #f7f7f7;

// Post description color
$post_desc: #8d9091;